.Rproj.user
.Rhistory
.RData
.Ruserdata
knb-lter-knz.148.3/**
CalispellCreekandTributaryTemperatures.csv
e001_Plant aboveground biomass carbon and nitrogen.csv
e001_Plant aboveground biomass data.csv
e001_exptInfo.csv
iveyWeek3_openScience.R
Eichhorn_conSME_data
Winter_conSME_data/
Williford_conSME_data
Vandeplancke_conSME_data/**
Vaarre-Lamoureux_conSME_data/**
Mann_conSME_data
Levi_conSME_data
Holland_conSME_data/**
Brenneman_conSME_data/**
BravoC_conSME_data
Bottomley_conSME_data
Niwot_Saliz_2014_WillowSeedlingSurvey.csv
.gitignore
PBG_N_compiled_raw_2021.csv
PBG_P_compiled_raw_2021.csv
PBG_trts.csv
TEMPEST_SERC_understory sppcomp_2021.csv
8_RMarkdown-Assignment---Part-1-of-2.pdf
8_RMarkdown-Assignment---Part-2-of-2.pdf
